body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #011e29;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.article {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.latest-news {
    vertical-align:top;
    background-color: white;
    display:inline-block;
    width:20%;
    padding: 20px;
    border-radius:20px;
    }

.pic-news{
    vertical-align:top;
  display:inline-block;
  background-color: white;
  width:20%;
  padding: 20px;
  text-align: center;
  border-radius:20px;
}

.container{
    position:relative;
    text-align:center;
    margin-top:10px;
}

.pic-news img{
    margin-top:10px;
}