table, th, td{
    border-collapse: collapse;
    padding: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
}
table{
    width: 100%;
}
th{
    background-color: #215A8E;
    color: white;
}
tr:nth-child(even){
    background-color: gainsboro;
}

/* 
table{
	border-collapse: collapse
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: 
}
thead{
	background: skyblue;
} */